.addGalleryLayout{
    display: grid;
    align-items: center;
    height: 100%;
    width:100%;
    justify-items: center;
    z-index: 1;
}

.addGalleryForm{
    display: flex;
    height: 300px;
    width: 500px;
    padding: 20px;
    margin: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid hsla(0, 0%, 54%, 0.3);
}

.formLayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

h4{
    font-weight: lighter;
    font-size: large;
    margin-top: 0px;
    margin-left: 2%;
}

textarea{
    resize: none;
    width: 97%;
    align-self: center;
    margin: 7px;
    border-radius: 5px;
    border-color: #918686;
    border-style: solid;
    border-width: thin;
}

input{
    width: 80px;
    margin: 10px;
    border-radius: 3px;
    border-color: transparent;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    height: 30px;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
}