/*/------Preview-----------*/

.thumbsContainer {
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
  margin-top: 16;
}

.thumbUpload {
  display: "inline-flex";
  border-radius: 2;
  border: "1px solid #eaeaea";
  margin-bottom: 8;
  margin-right: 8;
  width: 100px;
  height: 100px ;
  padding: 4;
  box-sizing: "border-box";
}

.thumbInnerUpload {
  display: "flex";
  min-width: 0;
  overflow: "hidden";
}

.imgUpload {
  display: "block";
  width: "auto";
  height: "100%";
}
.test{
    color:blueviolet;
}