#newGallery{
    display:none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffffd1;
}

#shareGallery{
    display:none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #ffffffd1;
}

.galleriesNav{
    height: 50px;
    margin-bottom: 20px;
}

.containerGalleriesNav{
    background-color: #fff !important;
    width: 100%;
    height: 50px;
    position: relative;
    overflow: visible;
    box-shadow: inset 0 -2px transparent;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    box-sizing: border-box;
}

.scrollingLayoutGalleriesNav{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 35%;
    height: 100%;
    box-sizing: border-box;
}

.scrollingLayoutGalleriesNav a{
    text-decoration: none;
    color: #404040;
    align-self:center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 15px;
}
    
.scrollingLayoutGalleriesNav a:hover {
    border-bottom: 3px solid #0091dc;
    color: black;
}
    
a.selectedLink {
    border-bottom: 3px solid #0091dc;
    color: black;
}

.layoutGalleries{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.toolsGalleries {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.galleriesLayout{
    display: flex;
    padding: 30px;
}

.gallery img{
    width:146px ;
    object-fit:fill;
}

.imgCover{ 
    grid-area: imgCover;
    height: auto;
    max-height: 214px;
    /* height: 176px; */
}

.imgRow1{
    grid-area: img1;
    /* height: 88px; */
    max-height: 107px;
}

.imgRow2{
    grid-area: img2;
    /* height:88px; */
    max-height: 107px;
}

.infoBar{
    grid-area: infoBar;
    display: flex;
    height: 60px;
    flex-direction: column;
    font-size: smaller;
    justify-content:space-evenly;
    background-color: #fff;
    padding: 4px;
}

.gallery{
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
    width:292px;
    height:264px;
    grid-template-areas:
    'imgCover imgCover img1'
    'imgCover imgCover img2'
    'infoBar infoBar infoBar';
}

.gallery:hover{
    box-shadow: 5px 10px 18px #b6b6b6;
    transition: 0.3s ease-in-out;
}

.addGalleryLayout{
    display: grid;
    align-items: center;
    height: 100%;
    width:100%;
    justify-items: center;
    z-index: 1;
}

.addGalleryForm{
    display: flex;
    height: 300px;
    width: 500px;
    padding: 20px;
    margin: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid hsla(0, 0%, 54%, 0.3);
}

.formLayoutGalleries{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.formLayoutGalleries h4{
    font-weight: lighter;
    font-size: large;
    margin-top: 0px;
    margin-left: 2%;
}

.formLayoutGalleries textarea{
    resize: none;
    width: 97%;
    align-self: center;
    margin: 7px;
    border-radius: 5px;
    border-color: #918686;
    border-style: solid;
    border-width: thin;
}

.buttonsGalleries input{
    width: 80px;
    margin: 10px;
    border-radius: 3px;
    border-color: transparent;
    align-self: flex-end;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    height: 30px;
}

.buttonsGalleries{
    display: flex;
    flex-direction: row-reverse;
}

#shareIcons{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 200%;
}

#shareIconsLinks{
    display: flex;
    justify-content:space-evenly;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px; 
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

#shareLink{
    align-self: center;
    height: 50px;
    padding-inline: 30px;
}