* {
  box-sizing: border-box;
}

/* Container needed to position the overlay. Adjust the width as needed */
.containerHome {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin-left: 0;
  margin-bottom: 40px;
}

/* Make the image to responsive */
.imageCompHome {
  display: block;
  width: 100%;
  height: 250px;
}

/* The overlay effect - lays on top of the container and over the image */
/* .photoCardHolder{
  
} */

.imgOverlayHome {
  position: absolute;
    /* display: flex; */
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(161, 161, 161, 0); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 0 12px;
  text-align: center;
  height: 44px;
}

.photoNameLinkHome{
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.photoNameLinkHome:hover{
  color: white;
}

/* When you mouse over the container, fade in the overlay title */
.containerHome:hover .imgOverlayHome {
  opacity: 1;
}

h3 {
  font-size: large;
}

.imageHeaderHome {
  display: flex;
  margin-right: 10px;
  height: 40px;
  align-items: center;
  text-align: center;
  width: 100%;
}
.imageHeaderHome h3 {
  margin-right: 10px;
}
.avatar {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Image Overlay RightContainer (engamement) */
.overlayRightContHome {
  float: right;
  width: 100px;
  display: flex;
  margin-left: auto;
}

.overlayLeftContHome {
  float: left;
  width: auto;
  min-width: 0;
  margin-right: 12px;
  
}

/* @media screen and (max-width: 1150px) {
  .infoColumn {
    display: none;
  }
  .rowHomePage {
    max-width: 100%;
  }
  .feedNews {
    max-width: 100%;
  }
} */