
/* base styles */

.ProNv {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 0 auto;
  margin: 0 auto;
  border-bottom: 1px solid rgb(227, 227, 233);
  background-color:white;
  margin-left: 120px;
}

.ProNv .Plink {
  margin-right: auto;
}
.ProNv a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  color: rgb(89, 89, 91);
}
.ProNv a:hover {
  color:black;
}

.navRight .icon {
  padding-left: 30px;
}